/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Roboto:ital,wght@0,100;0,500;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
  background: rgb(0,5,36);
  background: linear-gradient(90deg, rgba(0,5,36,1) 2%, rgba(217,29,102,0.4430147058823529) 36%, rgba(0,212,255,1) 91%);
}


